.todo-tarefa-card-container {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    padding: 8px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
}

.todo-tarefa-card-button-container {
    display: flex;
    margin-bottom: 4px;
    gap: 8px;
    
}

.todo-tarefa-card-label-checked {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

    font-size: small;
    text-decoration: line-through;
    font-weight: 700;
}

.button-check  {
    width: 26px;
    padding: 0;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--color-primary);
    border-radius: 16px;
    border: solid 2.2px var(--color-primary);
    
    color: white;
}

.button-check:hover {
    color: white;
}

.button-check-outline  {
    width: 26px;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    border: solid 2.2px var(--color-primary);
    
    color: var(--color-primary);
}

.button-check-outline:hover {
    background-color: #EEE;
    color: var(--color-primary);
}


.todo-tarefa-card-label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

    font-size: small;
}