/* CARD DA LISTA */

.todo-lista-card {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;

    background-color: #FFF;
}

.todo-lista-card-header {
    margin: 12px;
}

.todo-lista-card-tarefas {
    margin: 0 12px 0 12px;
}

.todo-lista-card-footer {
    margin: 12px;
}

.todo-lista-card-button {
    border: solid 1px darkgray;
    color: var(--color-primary);
}

.todo-lista-card-button:hover {
    border: solid 1px var(--color-primary);
    background-color: var(--color-primary);
    color: aliceblue;
}


