.todo-navigationbar-header {
    background-color: var(--color-primary);
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.todo-navigationbar-container {
    display: flex;
    height: var(--navigation-bar-height);
    align-items: center;
    justify-content: space-between;
}

.todo-navigationbar-title {
    display: flex;
    align-items: center;
}

.todo-navigationbar-title p {
    font-size: 24px;
    margin: 0;
    margin-left: 12px;
}

.todo-navigationbar-title svg {
    width: 48px;
    fill: aliceblue;
}



