@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-primary: #821;
  --color-primary-dark: rgb(112, 27, 12);
  --color-primary-haze: #88231146;
  --navigation-bar-height: 92px;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, sans-serif;
}

html, body {
  background-color: #DDD;
}

